body
{
    color: Black;
    text-align: center;
}

p {
    font-family: times new roman;
    font-size: 90px;
}

    center {
    text-align: center;
 }

button {
    background: #1e90ff;
    margin: 10px;
    padding: 10px;
    font-family: times new roman;
    font-size: 20px;
    color: black;
}
